<div class="container">
  <!-- The upper-data section -->
  <div class="upper-data">
    <!-- Display a landscape image if 14 > 15, else display a different landscape image -->
    <img src="../assets/landscape-1844226_1280.png" *ngIf="14 > 15" width="410px" height="310px">
    <img src="../assets/landscape-1844230_1280.png" *ngIf="14 <= 15" width="410px" height="310px" >

    <!-- Display the current weather information for Wellington -->
    <div class="weather-data">
      <div class="location">Wellington</div>
      <div class="temperature">{{ 14.2 | number: '1.0-0' }}°C</div>
    </div>
  </div>

  <!-- The lower-data section -->
  <div class="lower-data">
    <!-- A label for the additional weather information -->
    <div class="more-info-label">
      More Information
    </div>
    
    <!-- A container for additional weather information -->
    <div class="more-info-container">
      <!-- Display the min temperature -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature-empty-solid.svg" width="50px" height="50px">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>
      <!-- Display the humidity -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature-three-quarters-solid.svg" width="50px" height="50px">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>
      <!-- Display the wind speed -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind-solid.svg" width="50px" height="50px">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          1km/hr
        </div>
      </div>
      <!-- Display the probability of rain -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/cloud-rain-solid.svg" width="50px" height="50px">
          <span>Rain</span>
        </div>
        <div class="info-block-value">
          10%
        </div>
      </div>
    </div>
  </div>

  <!-- A directive for Angular routing -->
  <router-outlet></router-outlet>
</div>

